<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Free web crawling, scraping and visualization. Set up macros, loops, and form fillers.">
    <meta name="author" content="Matthew McCullough">
    <title>pyNet - Data Collection and Visualization</title>
    
    
    <!-- Favicon Reference Goes here -->
    <link rel="icon" href="../../favicon.ico">
    
        <!-- Core CSS -->
    <link href="/static/css/custom.css" rel="stylesheet">
    
        <!-- Color Pallete -->
        <!-- 0069b5 - Blue -->
        <!-- fdce06 - Yellow -->
    
    
    <!-- Put Google Fonts here -->
        
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:100' rel='stylesheet' type='text/css'>
        
            
        </head>
        
        <body>
            
           <div id="cssmenu">
                <ul>
                   <li class="active"><a href="#"><span>pyNet</span></a></li>
                   <li><a href="#get-started"><span>Get Started</span></a></li>
                   <li><a href="#sub"><span>Subscription</span></a></li>
                   <li class="last"><a href="#support"><span>Support</span></a></li>
                  
                </ul>
                </div>
    
                <div class='pynet-logo'>
                    
                    <!--<img src="/media/pynetbar.jpg">-->
                    <!--  -->
                    
                </div>
                
                 
                
                
                <div class="bs-docs-header" id="content" tabindex="-1">
                    
                    <div class="container">
                        
                        
                        <h1>Analyze and Visualize Dynamic Web Data</h1>
                        
                        <p> Discover fruitful trends, download databases, and explore patterns in vast amounts of web data.
                        </p>
                        
                        {{form.as_p}}
                        
                       
                    </div>
                </div>
            
            </div>
            
            {% block login %} {% endblock %}
            
            
           
           
           
                <div class="circle1">
                    <h2>Crawl<h2>
                   <!-- <p>Our distributed web crawlers quickly harvest the data you need.</p> -->
                   
                </div>
           
           
                <div class="circle2">
                    <h2>Parse</h2>
                   <!-- <p>We strip HTML/XML code for that juicy data you need.</p> -->
                   
                </div>
                
                <div class="circle3">
                    <h2>Visualize</h2>
                    <!-- <p>Useful visual data representation allows you to quickly understand what you need.</p> -->
                   
                </div>
           
        
           
            <div class="below-circles" id="content">
                <div class="container">
                    <h1>Build Macro's, Loops, and Auto-Form Filling Bots</h1>
                    <p>No programming experience needed.
                    Simply click on the forms you wish to fill and set up a macro.
                    </p>
                    
                </div>
            </div>
            
            
            <div class="subscription" id="content">
                <div class="container">
                    <h1>Single Webpage Scraping is always Free</h1>
                    <p>Type in any URL and watch the data appear. The web's data always at your fingertips.
                    </p>
                    
                </div>
            </div>
            
            
            
            
            
        
        </body>
        
        
    </html>